
.title {
  font-weight: bold;
  font-size: 49px;
  color: rgb(34, 31, 31);
  margin-bottom: 40px;
}

.title--big-mar {
  margin-bottom: 70px;
}

.title--lit-mar {
  margin-bottom: 20px;
}

.content-wrapper {
  padding-top: 40px;
  padding-bottom: 30px;
}

.content-wrapper--big-pad {
  padding-top: 55px;
  padding-bottom: 69px;
}

.main-content {
  width: 75%;
}

.main-content__container {
  display: flex;
}

.main-content--big-pad {
  padding-bottom: 30px;
  padding-left: 30px;
}