.last-news {
    width: 75%;
    margin-bottom: 20px;
}

.last-news__item {
    margin-bottom: 29px;
}

.news {
    display: flex;
    border-bottom: 2px solid rgb(245, 245, 245)
}

.news__avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}

.news__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__content {
    flex: 1;
    width: 700px;
    margin-left: 20px;
}

.news__data {
    font-size: 14px;
    color: rgb(101, 100, 100);
    margin-bottom: 6px;
}

.news__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 14px;
}

.news__desc {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.7;
}